<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% trans %}GNUKhata{% endtrans %} | {{projectname}} {% trans %}Statement{% endtrans %}</title>

  <style type="text/css">
   .shadow {
       box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   }
   .nopadding {
       padding: 0 !important;
       margin: 0 !important;
   }
   /*
      Force table width to 100%
    */
   table.table-fixedheader {
       width: 100%;
   }
   /*
      Set table elements to block mode.  (Normally they are inline).
      This allows a responsive table, such as one where columns can be stacked
      if the display is narrow.
    */
   table.table-fixedheader, table.table-fixedheader>thead, table.table-fixedheader>tbody, table.table-fixedheader>tfoot, table.table-fixedheader>thead>tr, table.table-fixedheader>tbody>tr, table.table-fixedheader>tfoot>tr, table.table-fixedheader>thead>tr>th, table.table-fixedheader>tbody>tr>td, table.table-fixedheader>tfoot>tr>td {
       display: block;
   }
   table.table-fixedheader>thead>tr:after, table.table-fixedheader>tbody>tr:after, table.table-fixedheader>tfoot>tr:after  {
       content:' ';
       display: block;
       visibility: hidden;
       clear: both;
   }
   /*
      When scrolling the table, actually it is only the tbody portion of the
      table that scrolls (not the entire table: we want the thead to remain
      fixed).  We must specify an explicit height for the tbody.  We include
      100px as a default, but it can be overridden elsewhere.

      Also, we force the scrollbar to always be displayed so that the usable
      width for the table contents doesn't change (such as becoming narrower
      when a scrollbar is visible and wider when it is not).
    */
   table.table-fixedheader>tbody {
       overflow-y: scroll;

   }
   /*
      We really don't want to scroll the thead contents, but we want to force
      a scrollbar to be displayed anyway so that the usable width of the thead
      will exactly match the tbody.
    */
   table.table-fixedheader>thead {
       overflow-y: scroll;
       height: 26px;
   }
   table.table-fixedheader>tfoot {
       margin-bottom:10px;;
   }
   /*
      For browsers that support it (webkit), we set the background color of
      the unneeded scrollbar in the thead to make it invisible.  (Setting
      visiblity: hidden defeats the purpose, as this alters the usable width
      of the thead.)
    */
   table.table-fixedheader>thead::-webkit-scrollbar {
       background-color: inherit;
   }

   table.table-fixedheader>tfoot::-webkit-scrollbar {
       background-color: inherit;
   }


   table.table-fixedheader>thead>tr>th:after, table.table-fixedheader>tbody>tr>td:after, table.table-fixedheader>tfoot>tr>td:after {
       content:' ';
       display: table-cell;
       visibility: hidden;
       clear: both;
   }

   /*
      We want to set <th> and <td> elements to float left.
      We also must explicitly set the width for each column (both for the <th>
      and the <td>).  We set to 20% here a default placeholder, but it can be
      overridden elsewhere.
    */

   table.table-fixedheader>thead tr th, table.table-fixedheader>tbody tr td, table.table-fixedheader>tfoot tr td {
       float: left;

   }

   .shadow {
       box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   }
   td {
       font-size: 75%;
   }

   th {
       font-size: 75%;
   }

   #latable thead {
       width: calc( 100% - 0.65em );
   }

   #latable tfoot {
       width: calc( 100% - 0.65em );
   }

   #latable tbody {
       display:block;
       height: calc(100vh - 27em);
       overflow-y:scroll;
   }

   .card-view .title {
       font-weight: bold;
       display: inline-block;
       min-width: 30%;
       text-align: left !important;
   }

   .calign{
       text-align:center;
   }
   .lalign{
       text-align:left;
   }
   .ralign{
       text-align:right;
   }
   .dtwrap{
       width :11%
   }
   .smwrap{
       width:4%
   }
   .lngwrap{
       width:24%
   }
   .mdwrap{
       width:14%
   }
   .vlngwrap{
       width:76%
   }
   .totalwrap {
       width:28%;
   }
   .rightJustified {
       text-align: right;
   }

  </style>
</head>
<body>
  <div class="col-sm-12">
    <div class="alert alert-warning" id="nochange-alert"  aria-live="rude" role="alert" hidden>

      {% trans %}No changes made!{% endtrans %}
    </div>
    <div class="alert alert-danger" id="bwamount-alert"  aria-live="rude" role="alert" hidden>

      {% trans %}Total amount Adjusted is more than Adjustable Amount!{% endtrans %}
    </div>
    <div class="alert alert-danger" id="bwinvamount-alert"  aria-live="rude" role="alert" hidden>

      {% trans %}Amount Paid is more than Amount Pending for Invoice!{% endtrans %}
    </div>
    <div class="alert alert-danger" id="bwamount-blank-alert"  aria-live="rude" role="alert" hidden>

      {% trans %}Please enter Amount Adjusted.{% endtrans %}
    </div>
    <div class="alert alert-warning" id="bwfailure-alert"  aria-live="rude" role="alert" hidden>

      {% trans %}Something went wrong.{% endtrans %}
    </div>
    <div class="alert alert-success" id="bwamount-success-alert"  aria-live="rude" role="alert" hidden>

      {% trans %}Receipt/Payment Updated!{% endtrans %}
    </div>
  </div>

    <table id="latable" class="table shadow nopadding table-bordered table-condensed table-fixedheader">
      <thead class="bg-primary">
	<tr>
          <th class="mdwrap calign">
            {% trans %}Invoice No{% endtrans %}
          </th>
          <th class="mdwrap calign">
            {% trans %}Date{% endtrans %}
          </th>
          <th class="lngwrap ralign">
            {% trans %}Invoice Amount{% endtrans %}
          </th>
          <th class="lngwrap ralign">
            {% trans %}Amount Pending{% endtrans %}
          </th>
          <th class="lngwrap ralign">
            {% trans %}Amount Adjusted{% endtrans %}
          </th>
	</tr>
      </thead>
      <tbody>
	{% if not gkresult %}
	  <tr><td style="width:100%">No Data Found.</td></tr>
	{% endif %}
	{% for record in gkresult %}
	  {% if record["pendingamount"]!=0.00 %}
	    <tr data-invid="{{record["invid"]}}">
              <td class="mdwrap calign" >
		<div class="form-control">
		  {{record["invoiceno"]}}
		</div>
              </td>
              <td class="mdwrap calign">
		<div class="form-control">
		  {{record["invoicedate"]}}
		</div>
              </td>
              <td class="lngwrap ralign" >
		<div class="form-control">
		  {{record["invoicetotal"]}}
		</div>
              </td>
              <td class="lngwrap ralign" data-amountpending="{{record["pendingamount"]}}">
		<div class="form-control">
		  {{record["pendingamount"]}}
		</div>
              </td>
              <td class="lngwrap ralign" >
		<input type="text" class="amountpaid form-control rightJustified numtype" value="0.00">
              </td>
	    </tr>
	  {% endif %}
	{% endfor %}

      </tbody>
      <tfoot>
	<tr>
	  <td class="totalwrap ralign">
	    <div class="form-control" disabled>
	      Total
	    </div>
	  </td>
	  <td class="lngwrap ralign">
	    <div class="form-control" disabled>
	      {{sumofinvoiceamounts}}
	    </div>
	  </td>
	  <td class="lngwrap ralign">
	    <div class="form-control" disabled>
	      {{sumofpendingamounts}}
	    </div>
	  </td>
	  <td class="lngwrap ralign">
	    <div class="form-control" disabled>
	      0.00
	    </div>
	  </td>
	</tr>
      </tfoot>
    </table>
    <input type="text" id="vchcode" value="{{vouchercode}}" hidden></input>
    <input type="text" id="custid" value="{{custid}}" hidden></input>
  <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/billwiseaccounting.js')}}"></script>
</body>
</html>
