<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% trans %}GNUKhata{% endtrans %} | {% trans %}Cash Flow{% endtrans %}</title>
<style type="text/css">

.shadow {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#rctable td ,#pytable td{
	font-size: 75%;
	padding: 4 !important;
	margin: 4 !important;
}


#rctable th ,#pytable th {
	font-size: 85%;
}
.card-view .title {
		font-weight: bold;
		display: inline-block;
		min-width: 30%;
		text-align: left !important;
}

#rctable tbody ,#pytable tbody {
		display:block;
		height: calc(100vh - 16em);
		overflow-y:scroll;
}
 #rctable thead,#rctable tbody tr,#pytable thead,#pytable tbody tr {
		display:table;
		width:100%;
		table-layout:fixed;
}
 #rctable thead,#pytable thead {
		width: calc( 100% - 0.60em )
}
.nopadding{
	padidng:0 !important;
	padding:0 !important;
}
.ralign{
	text-align:right;

}
.cred{
	color:red;
}
.calign{
	text-align:center;
}
.row {
	margin-top: 5px;
}
</style>
</head>
<body>
	{% if orgtype=="Profit Making" %}
		<span style="margin:auto; display:table;"><strong>{% trans %}Cash Flow Account{% endtrans %} </strong> {% trans %}for the period{% endtrans %} <strong>{{from}}</strong> {% trans %}to{% endtrans %} <strong>{{to}}</strong></span>
	{% else %}
		<span style="margin:auto; display:table;"><strong>{% trans %}Receipt & Payment Account{% endtrans %}</strong> {% trans %}for the period{% endtrans %} <strong>{{from}}</strong> {% trans %}to{% endtrans %} <strong>{{to}}</strong></span>
	{% endif %}
	<div class="row">
		<div class="table-responsive col-xs-6 nopadding">
			<button class="btn btn-sm btn-danger pull-left" type="button" style="display:none;" id="cflclearfields" >{% trans %}Clear Search{% endtrans %}<span class="glyphicon glyphicon-remove" style="margin-left: 5px;"></span></button>
			<table id="rctable" class="table shadow table-bordered cashflowtable" data-toggle="table" data-show-toggle="true"  data-search-align="right" data-buttons-align="right" data-search="true">
				<thead class="bg-primary">
					<tr>
						<th class="col-xs-1">&nbsp</th>
						<th class="col-xs-9">{% trans %}Particulars{% endtrans %}</th>
						<th class="col-xs-2 ralign">{% trans %}Amount{% endtrans %}</th>
					</tr>
				</thead>
				<tbody>
					{% for rcrecord in rcrecords %}
					<tr	data-value="{{rcrecord['accountcode']}}">
						<td class="col-xs-1">
							{{rcrecord['toby']}}
						</td>
						<td class="col-xs-9">
							{% if rcrecord['accountcode']!="" %}
							<a class="rcaccname" href="">{{rcrecord['particulars']}}</a>
							{% else %}
							<a class="rcaccname" href="" style="text-decoration: none;">{{rcrecord['particulars']}}</a>
							{% endif %}
						</td>
							{% if rcrecord["amount"]=="." %}
								<td class="col-xs-2 ralign">&nbsp</td>
							{% else %}
								<td class="col-xs-2 ralign">
									{{rcrecord["amount"]}}
								</td>
							{% endif %}
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="table-responsive col-xs-6 nopadding">
			<button class="btn btn-sm btn-danger pull-right" type="button" style="margin-right: 15px;display:none;" id="cfrclearfields" >{% trans %}Clear Search{% endtrans %}<span class="glyphicon glyphicon-remove" style="margin-left: 5px;"></span></button>
			<table id="pytable" class="table shadow table-bordered cashflowtable"data-toggle="table" data-show-toggle="true"  data-search-align="left" data-buttons-align="left" data-search="true">
				<thead class="bg-primary">
					<tr>
						<th class="col-xs-1">&nbsp</th>
						<th class="col-xs-9">{% trans %}Particulars{% endtrans %}</th>
						<th class="ralign">{% trans %}Amount{% endtrans %}</th>
					</tr>
				</thead>
				<tbody>
					{% for pyrecord in pyrecords %}
					<tr	data-value="{{pyrecord['accountcode']}}">
						<td class="col-xs-1">
							{{pyrecord['toby']}}
						</td>
						<td class="col-xs-9">
							{% if pyrecord['accountcode']!="" %}
							<a class="pyaccname" href="">{{pyrecord['particulars']}}</a>
							{% else %}
							<a class="pyaccname" href="" style="text-decoration: none;">{{pyrecord['particulars']}}</a>
							{% endif %}
						</td>
							{% if pyrecord["amount"]=="." %}
								<td class="col-xs-2 ralign">&nbsp</td>
							{% else %}
								<td class="col-xs-2 ralign">
									{{pyrecord["amount"]}}
								</td>
							{% endif %}
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

	</div>
	<span style="margin:auto; display:table;">
		<button type="button" class="btn btn-sm btn-danger" id="cfback" accesskey="b">{% trans %}<i class="fa fa-arrow-left" aria-hidden="true"></i> <u>B</u>ack{% endtrans %}</button>
		<button type="button" class="btn btn-sm btn-info" id="printbutton" accesskey="x">{% trans %}<i class="fa fa-file-excel-o" aria-hidden="true"></i> E<u>x</u>port to Spreadsheet{% endtrans %}</button>
		<button type="button" class="btn btn-sm btn-info" id="viewprintableversion" accesskey="t">{% trans %}<i class="fa fa-print" aria-hidden="true"></i> View Prin<u>t</u>able Version{% endtrans %}</button>
	</span>
	<input type="hidden" id="ledtodate" value="{{to}}">
	<input type="hidden" id="ledfromdate" value="{{from}}">
	<input type="hidden" id="backflag" value="{{backflag}}">
	<script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/bootstrap-table.js')}}"></script>
	<script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/cashflowreport.js')}}"></script>
</body>
</html>
