<body>
<div class="row">
  <div class="col-md-6">
    <div class="alert alert-success" id="success-alert"  aria-live="rude" role="alert" hidden>

      {% trans %}Unit saved.{% endtrans %}
    </div>
    <div class="alert alert-danger" id="failure-alert"  aria-live="rude" role="alert" hidden>

      {% trans %}Something went wrong!{% endtrans %}
    </div>
    <div class="alert alert-success" id="delsuccess-alert"  aria-live="rude" role="alert" hidden>
			<a href="" class="close" aria-label="close">&times;</a>
			{% trans %}Unit deleted successfully.{% endtrans %}
		</div>
    <div class="alert alert-danger" id="duplicate-alert"  aria-live="rude" role="alert" hidden>

      {% trans %}Unit Already Exist!{% endtrans %}
    </div>
    <div class="alert alert-danger" id="sameUnit-alert"  aria-live="rude" role="alert" hidden>

      {% trans %}Unit and Sub Unit cannot be Same!{% endtrans %}
    </div>
    <div class="alert alert-danger" id="conversion-alert"  aria-live="rude" role="alert" hidden>

      {% trans %}Please Enter Conversion Rate!{% endtrans %}
    </div>
    <div class="alert alert-danger" id="conversion-rate-alert"  aria-live="rude" role="alert" hidden>

      {% trans %}Conversion Rate cannot be Zero!{% endtrans %}
    </div>
    <div class="alert alert-danger" id="subunit-alert"  aria-live="rude" role="alert" hidden>

      <label for="vno">{% trans %}Unit can not be deleted , contains Subunit!{% endtrans %}</label>
    </div>
    <div class="alert alert-danger" id="unit-blank-alert"  aria-live="rude" role="alert" hidden>

      <label for="vno">{% trans %}Please enter Unit  name!{% endtrans %}</label>
    </div>

    <div class="panel shadow unit_edit_panel">

      <div class="panel-body">
        <form>
          <div class="form-group">
            <label for="unit_edit_list" id="edit_list">{% trans %}List of Units :{% endtrans %}</label>
            <select class="form-control input-sm" id="unit_edit_list">
              <option value="" disabled selected hidden>{% trans %}Select unit{% endtrans %}</option>
              {% for unitofmeasurement in gkresult %}
              <option value="{{unitofmeasurement['uomid']}}">{{unitofmeasurement["unitname"]}}</option>
              {% endfor %}
            </select>
          </div>
          <div id="unit_edit_innerdiv" style="padding-left:10px;padding-right:10px;" hidden>
          <div class="form-group">
            <label for="unit_edit_name">{% trans %}New Name of Unit :{% endtrans %}</label><label for="unit_edit_name" style="color:red;font-size: 120%;">*</label>
            <input class="form-control input-sm" id="unit_edit_name" placeholder="{% trans %}Enter unit name{% endtrans %}">
          </div>
          <div class="form-group">
            <label for="sub_unit_edit">{% trans %}Sub Unit of :{% endtrans %}</label>
            <select class="form-control input-sm" id="sub_unit_edit">
              <option value="" selected>None</option>
              {% for unitofmeasurement in gkresult %}
              <option value="{{unitofmeasurement['uomid']}}">{{unitofmeasurement["unitname"]}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group" id="edit_conversion_div">
            <label for="unit_edit_conversion_rate">{% trans %}Conversion Rate:{% endtrans %}</label>
            <div >
              <input class="form-control input-sm text-right"  id="unit_edit_conversion_rate" aria-describedby="conversion_rate_help" placeholder="Enter conversion rate">
          </div>
        </form>
      </div>
    </div>
  </div>
      <div class="panel-footer" id="unit_btn"  disabled hidden>
        <button id="unit_reset" class="btn btn-warning btn-sm" accesskey="s"><i class="fa fa-refresh" aria-hidden="true"></i> {% trans %}Re<u>s</u>et{% endtrans %}</button>
        <button class="btn btn-primary btn-sm" id="unit_edit_save" data-toggle="tooltip" data-placement="top" title="{% trans %}Press Insert to save anywhere on the current screen to save{% endtrans %}" accesskey="a"><i class="fa fa-floppy-o" aria-hidden="true"></i> {% trans %}S<u>a</u>ve{% endtrans %}</button>
        <button id="unit_delete" class="btn btn-danger btn-sm" accesskey="d"><i class="fa fa-trash-o" aria-hidden="true"></i> {% trans %}<u>D</u>elete{% endtrans %}</button>
        <button id="edit_btn" class="btn btn-primary btn-sm" accesskey="e"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> {% trans %}<u>E</u>dit{% endtrans %}</button>
      </div>
    </div>
    <div id="confirm_del" class="modal fade" tabindex="-1" role="dialog">
      <div class="vertical-alignment-helper">
        <div class="modal-dialog modal-sm vertical-align-center">
          <div class="modal-content">
            <div class="modal-header">

              <h4 class="modal-title">{% trans %}Delete?{% endtrans %}</h4>
            </div>
            <div class="modal-body">
              <p>{% trans %}Are you sure?{% endtrans %}</p>
            </div>
            <div class="modal-footer">
              <button type="button" id ="m_cancel" class="btn btn-warning" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> {% trans %}No{% endtrans %}</button>
              <button type="button" id="accdel" data-dismiss="modal" class="btn btn-danger"><i class="fa fa-check" aria-hidden="true"></i> {% trans %}Yes{% endtrans %}</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div>
    </div><!-- /.modal -->

    </div>
  </div>


  </div>
</div>
<script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/editunitofmeasurement.js')}}"></script>
</body>
