<!DOCTYPE html>
<html lang="en">
   <head>
      <title>{% trans %}GNUKhata{% endtrans %} | {% trans %}List of Invoices{% endtrans %}</title>
      <style type="text/css">
         .shadow {
         box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
         }
         #latable td {
         font-size: 75%;
         padding: 4 !important;
         margin: 4 !important;
         }
         #latable th {
         font-size: 85%;
         }
         .card-view .title {
         font-weight: bold;
         display: inline-block;
         min-width: 30%;
         text-align: left !important;
         }
         #latable tbody {
         display:block;
         height: calc(100vh - 18em);
         overflow-y:scroll;
         }
         #latable thead,#latable tbody tr {
         display:table;
         width:100%;
         table-layout:fixed;
         }
         #latable thead {
         width: calc( 100% - 0.65em );
         }
         .bigwrap {
         width:20%;
         }
         .mdwrap {
         width:12%;
         }
         .smwrap {
         width:9%;
         }
         .qtywrap {
         width:8%
         }
         .srnowrap {
         width:7%;
         }
         .modaltext {
         font-size: 0.8em;
         }
         .table-borderless > tbody > tr > td,
         .table-borderless > tbody > tr > th,
         .table-borderless > tfoot > tr > td,
         .table-borderless > tfoot > tr > th,
         .table-borderless > thead > tr > td,
         .table-borderless > thead > tr > th {
         border: none;
         }
         #invoice_table td {
         font-size: 75%;
         padding: 4 !important;
         margin: 4 !important;
         }
         #invoice_table th {
         font-size: 85%;
         }
         #invoice_table tbody {
         display:block;
         height: 155px;
         overflow-y:scroll;
         }
         #invoice_table thead,#invoice_table tbody tr {
         display:table;
         width:100%;
         table-layout:fixed;
         }
         #invoice_table thead {
         width: calc( 100% - 0.65em );
         }
         #invoice_table tfoot {
           display: block;
         width: calc( 100% - 0.65em );
         }
      </style>
   </head>
   <body>
      <input type="text" id="invoicetypeselect" value={{flag}} hidden></input>
      <span class="pull-right" style="padding-right:15px"><i>{% trans %}Period{% endtrans %}</i> : <strong id="fromdate" data-fromdate="{{fromdate}}">{{displayfromdate}}</strong> {% trans %}to{% endtrans %} <strong id="todate" data-todate="{{todate}}">{{displaytodate}}</strong></span>
      <span style="margin-left: 46.4%;"><strong>List of <i>{%if flag == "0" %}All{%elif flag == "1" %}Sales{%elif flag == "2" %}Purchase{% endif %}</i> Invoices</strong></span>
      <br>
      <button class="btn btn-sm btn-danger pull-right" type="button" style="margin-right: 15px; display:none" id="laclearfields">{% trans %}Clear Search{% endtrans %}<span class="glyphicon glyphicon-remove" style="margin-left: 5px;"></span></button>
      <table id="latable" class="table shadow table-bordered" data-toggle="table" data-show-toggle="true"  data-search-align="left" data-buttons-align="left" data-search="true" >
         <thead class="bg-primary">
            <tr>
               <th class="srnowrap text-center" >
                  {% trans %}Sr.No.{% endtrans %}
               </th>
               <th class="srnowrap text-center" >
                  {% trans %}INV No.{% endtrans %}
               </th>
               <th class="smwrap text-center" >
                  {% trans %}INV Date{% endtrans %}
               </th>
               <th class="srnowrap text-center" >
                  {% trans %}DC No.{% endtrans %}
               </th>
               <th class="smwrap text-center" >
                  {% trans %}DC Date{% endtrans %}
               </th>
               <th class="mdwrap text-center" >
                  {%if flag == "0" %}{% trans %}Cust/Supp Name{% endtrans %}{%elif flag == "1" %}{% trans %}Customer Name{% endtrans %}{%elif flag == "2" %}{% trans %}Supplier Name{% endtrans %}{% endif %}
               </th>
               <th class="mdwrap text-center" >
                  {% trans %}TIN{% endtrans %}
               </th>
               <th class="smwrap text-right" >
                  {% trans %}Gross Amt{% endtrans %}
               </th>
               <th class="smwrap text-right" >
                  {% trans %}Net Amt{% endtrans %}
               </th>
               <th class="smwrap text-right" >
                  {% trans %}TAX Amt{% endtrans %}
               </th>
               <th class="mdwrap text-center" >
                  {% trans %}Godown{% endtrans %}
               </th>
            </tr>
         </thead>
         <tbody>
            {% for invoice in gkresult %}
            <tr data-invid="{{invoice["invid"]}}">
            <td class="srnowrap text-center">{{invoice["srno"]}}</td>
            <td class="srnowrap text-center"><a class="libgname" href="">{{invoice["invoiceno"]}}</a></td>
            <td class="smwrap text-center">{{invoice["invoicedate"]}}</td>
            <td class="srnowrap text-center">{{invoice["dcno"]}}</td>
            <td class="smwrap text-center">{{invoice["dcdate"]}}</td>
            <td class="mdwrap text-center">{{invoice["custname"]}}</td>
            <td class="mdwrap text-center">{{invoice["custtin"]}}</td>
            <td class="smwrap text-right">{{invoice["grossamt"]}}</td>
            <td class="smwrap text-right">{{invoice["netamt"]}}</td>
            <td class="smwrap text-right">{{invoice["taxamt"]}}</td>
            <td class="mdwrap text-center">{{invoice["godown"]}}</td>
            </tr>
            {% endfor %}
         </tbody>
      </table>
      <span style="margin:auto; display:table;">
         <nbsp>
         <nbsp>
         <button type="button" class="btn btn-sm btn-danger" id="viewanotherlist" accesskey="w"><i class="fa fa-eye" aria-hidden="true"></i> {% trans %}Vie<u>w</u> Another List{% endtrans %}</button>
         <button class="btn btn-sm btn-primary" type="button"  id="print" accesskey="x"><i class="fa fa-file-excel-o" aria-hidden="true"></i> {% trans %}E<u>x</u>port to Spreadsheet{% endtrans %}</button>
         <button type="button" class="btn btn-sm btn-info" id="viewprintableversion" accesskey="t"><i class="fa fa-print" aria-hidden="true"></i> {% trans %}View Prin<u>t</u>able Version{% endtrans %}</button>
      </span>
      <div id="invview" class="modal" tabindex="-1" role="dialog">
         <div class="vertical-alignment-helper">
            <div class="modal-dialog modal-lg vertical-align-center">
               <div class="modal-content">
                  <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal" style="margin-left:15px;">&times;</button>
                     <h4 class="modal-title">{% trans %}View Invoice{% endtrans %}</h4>
                  </div>
                  <div class="modal-body">
                     <div class="row">
                        <div id="invload"></div>
                     </div>
                  </div>
                  <!--<div class="modal-footer">
                     <button type="button" id ="btclose" class="btn footerbutton btn-danger" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
                  </div> -->
               </div>
               <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
         </div>
      </div>
      <!-- /.modal -->
      <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/bootstrap-table.js')}}"></script>
      <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/listofinvoices.js')}}"></script>
   </body>
</html>
