<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% if orgtype=="Profit Making" %}
      <title>{% trans %}GNUKhata{% endtrans %} |{% trans %}View Profit & Loss{% endtrans %}</title>
    {% else %}
      <title>{% trans %}GNUKhata{% endtrans %} |{% trans %}View Income & Expenditure{% endtrans %}</title>
    {% endif %}
    <style media="screen">
    .shadow {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    label {
  		font-size: 90%;
  	}
    </style>
  </head>
  <body>
    <div style="padding-top:5px" class="container-fluid mainbox col-md-4 col-md-offset-4">
    <div class="panel shadow">
      <div class="panel-heading">
        {% if orgtype=="Profit Making" %}
          <h3 class="panel-title">{% trans %}View Profit & Loss{% endtrans %}
          <i class="fa fa-question-circle pull-right" style="font-size:16px;color:white;"data-toggle="modal" data-target="#PlModal"></i></h3>
        {% else %}
          <h3 class="panel-title">{% trans %}View Income & Expenditure{% endtrans %}
          <i class="fa fa-question-circle pull-right" style="font-size:16px;color:white;"data-toggle="modal" data-target="#PlModal"></i></h3>
        {% endif %}

      </div>
      <div class="panel-body">
        <div class="alert alert-danger" id="date-alert" aria-live="rude" role="alert" hidden>

          <label for="pnl_todate">{% trans %}Please enter date in proper format!{% endtrans %}</label>
        </div>
        <div class="alert alert-danger" id="between-date-alert" aria-live="rude" role="alert" hidden>

          <label for="pnl_todate">{% trans %}Please enter date from within the financial year!{% endtrans %}</label>
        </div>
        <label for="pnl_fromdate">{% trans %}From{% endtrans %} :</label>
        <div class="form-inline">
          <div class="form-group">
            <input type="text" class="form-control input-sm pnl_autotab" id="pnl_fromdate" value="" size="2" maxlength="2" disabled placeholder="DD">
            <input type="text" class="form-control input-sm pnl_autotab" id="pnl_frommonth" value="" size="2" maxlength="2" disabled placeholder="MM">
            <input type="text" class="form-control input-sm pnl_autotab" id="pnl_fromyear" value="" size="4" maxlength="4" disabled placeholder="YYYY">
          </div>
        </div>
        <br>
        <label for="pnl_todate">{% trans %}To{% endtrans %} :</label>
        <div class="form-inline">
          <div class="form-group">

          <input type="text" class="form-control input-sm pnl_autotab" id="pnl_todate" value=""  size="2" maxlength="2" placeholder="DD" accesskey="d">
          <input type="text" class="form-control input-sm pnl_autotab" id="pnl_tomonth" value="" size="2" maxlength="2" placeholder="MM">
          <input type="text" class="form-control input-sm pnl_autotab" id="pnl_toyear" value="" size="4" maxlength="4" placeholder="YYYY">
        </div>
        </div>
      </div>
       <div id="PlModal"  tabindex="-1" class="modal fade" role="dialog"style="width:650px; margin-top: 150px; margin-left:300px;"  aria-hidden="true">
  	<div class="modal-dialog bgcolor " >
   	 <div class="modal-content ">
    	<div class="modal-header">
      		{% trans %}<strong>Help!</strong>{% endtrans %}
   			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> </div>
      <div class="modal-body" style="text-align: justify; text-justify: inter-word;">

       <p>   <font color=" #566573"> {%trans%}
Income & Expenditure Account / Profit & Loss Account</br>
This report can be viewed for any period but the starting date must be the first date of the Financial Year. </br>
Operators cannot view this report.
{% endtrans %} </font>

        </p>
      </div>

    </div>
  </div>
</div>

      <div class="panel-footer">
        <button type="button" class="btn btn-sm btn-success" name="button" id="pnl_view" accesskey="v">{% trans %}<i class="fa fa-eye" aria-hidden="true"></i> <u>V</u>iew{% endtrans %}</button>
        <button type="button" name="button" class="btn btn-sm btn-danger" id="pnl_reset" accesskey="e">{% trans %}<i class="fa fa-refresh" aria-hidden="true"></i> R<u>e</u>set{% endtrans %}</button>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/viewprofitloss.js')}}"></script>
  </body>
</html>
