<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% trans %}GNUKhata{% endtrans %} | {% trans %}Dual Ledgers{% endtrans %}</title>
  <style media="screen">s
  .shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  label {
		font-size: 90%;
	}
  </style>
</head>
<body>
  <div id="m_dualledger" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
    <div class="panel shadow">
      <div class="panel-heading">
        <h3 class="panel-title">{% trans %}View Dual Ledgers{% endtrans %}</h3>
      </div>
      <div class="panel-body" style="padding-top:5px">
        <div class="alert alert-danger" id="date-alert" aria-live="rude" role="alert" hidden>

          <label for="viewdualledger_fromdate">{% trans %}Please enter date in proper format!{% endtrans %}</label>
        </div>
        <div class="alert alert-danger" id="between-date-alert" aria-live="rude" role="alert" hidden>

          <label for="viewdualledger_fromdate">{% trans %}Please enter date within the financial year!{% endtrans %}</label>
        </div>
        <div class="alert alert-danger" id="compare-date-alert" aria-live="rude" role="alert" hidden>

          <label for="viewdualledger_todate">{% trans %}From date should be smaller or equal to to date !{% endtrans %}</label>
        </div>
        <div class="alert alert-danger" id="account-blank-alert" aria-live="rude" role="alert" hidden>

          <label for="viewdualledger_accname">{% trans %}Please select an account!{% endtrans %}</label>
        </div>
        <div style="margin-bottom: 5px" class="col-xs-12 from-group">
          <label for="viewdualledger_accname">{% trans %}Account Name{% endtrans %} :</label>
          <select class = "form-control input-sm" id="viewdualledger_accname"  name = "viewdualledger_accname" >
            <option value="" disabled selected hidden>{% trans %}Select Account{% endtrans %}</option>
            {% for accs in gkresult %}
            <option value="{{accs['accountcode']}}">{{accs["accountname"]}}</option>
            {% endfor %}
          </select>
          <br>


          <label for="viewdualledger_fromdate">{% trans %}From Date{% endtrans %} :</label>
          <div class="form-inline" >

            <div class="form-group">

              <input type="text" class="viewdualledger_date form-control input-sm dis" id="viewdualledger_fromdate" value="" size="2" maxlength="2" placeholder="DD" accesskey="d">
              <input type="text" id="viewdualledger_frommonth" class="viewdualledger_date dis form-control input-sm" value="" size="2" maxlength="2" placeholder="MM" >
              <input type="text" id="viewdualledger_fromyear" class="viewdualledger_date dis form-control input-sm" value="" size="4" maxlength="4" placeholder="YYYY" >
            </div>

          </div>
          <br>
          <label for="viewdualledger_todate">{% trans %}To Date{% endtrans %} :</label>
          <div class="form-inline" >

            <div class="form-group">

              <input type="text" class="viewdualledger_date form-control input-sm dis" id="viewdualledger_todate" value="" size="2" maxlength="2" placeholder="DD" >
              <input type="text" id="viewdualledger_tomonth" class="viewdualledger_date form-control input-sm dis" value="" size="2" maxlength="2" placeholder="MM" >
              <input type="text" id="viewdualledger_toyear" class="viewdualledger_date form-control input-sm dis" value="" size="4" maxlength="4" placeholder="YYYY" >
            </div>
          </div>
          <br>
          <label> <input type="checkbox" class="dis" id="viewdualledger_nar" >{% trans %}Narration{% endtrans %}</label>
          <br>
          {% if projects %}
          <label id="prjnamelbl1" for="viewdualledger_prjname">{% trans %}Project Name{% endtrans %} :</label>
          <select class = "form-control input-sm dis" id="viewdualledger_prjname"  name = "viewdualledger_prjname">
            <option value="" selected>{% trans %}None{% endtrans %}</option>
            {% for prj in projects %}
            <option value="{{prj['projectcode']}}">{{prj["projectname"]}}</option>
            {% endfor %}
          </select>
          {% endif %}
        </div>
      </div>
      <div class="panel-footer">
        <button class="btn btn-primary btn-sm" id="viewdualledger_submit" name="view" accesskey="w">{% trans %}<i class="fa fa-eye" aria-hidden="true"></i> Vie<u>w</u>{% endtrans %}</button>
        <button id="viewdualledger_reset" class="btn btn-danger btn-sm" accesskey="e">{% trans %}<i class="fa fa-refresh" aria-hidden="true"></i> R<u>e</u>set{% endtrans %}</button>

      </div>
    </div>
  </div>
</div>
</div>
  <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/viewdualledger.js')}}"></script>
</body>
</html>
