
<html>
<head>
  <meta charset="utf-8">
  <title>{% trans %}GNUKhata | Cash Memo{% endtrans %}</title>
  <style media="screen">
  .fixed-table td {
      font-size: 75%;
      padding: 4 !important;
      margin: 4 !important;
    }
  .fixed-table th {
      font-size: 85%;
  }

  .fixed-tablepurchase tbody {
      display:block;
      height: calc(100vh - 25.5em);
      min-height: 160px;
      overflow-y:scroll;
  }

  .fixed-tablesale tbody {
      display:block;
      height: calc(100vh - 29em);
      min-height: 140px;
      overflow-y:scroll;
  }



  .fixed-table thead ,.fixed-table tbody tr,.fixed-table tfoot tr {
      display:table;
      width:100%;
      table-layout:fixed;
  }
  .fixed-table thead {
      width: calc( 100% - 0.75em );
  }

  .fixed-table tfoot {
    display:block;
    width: calc( 100% - 0.75em );
  }
  .nopadding{
    margin:0 !important;
    padding:0 !important;
  }


  </style>
</head>

<body>
  <div class="container-fluid" style="padding: 1 !important; margin: 0 !important;">
    <div class="alert alert-success" id="success-alert"  aria-live="rude" role="alert" hidden>

      {% trans %}Cash Memo saved.{% endtrans %}
    </div>
    <div class="alert alert-danger" id="failure-alert"  aria-live="rude" role="alert" hidden>

      {% trans %}Something went wrong!{% endtrans %}
    </div>
    <div class="alert alert-danger" id="duplicate-alert"  aria-live="rude" role="alert" hidden>

      {% trans %}Duplicate cash memo no.!{% endtrans %}
    </div>
    <div class="alert alert-danger" id="product-blank-alert"  aria-live="rude" role="alert" hidden>

      <label for="vno">{% trans %}Please select a product!{% endtrans %}</label>
    </div>
    <div class="alert alert-danger" id="quantity-blank-alert"  aria-live="rude" role="alert" hidden>

      <label for="vno">{% trans %}Please enter quantity!{% endtrans %}</label>
    </div>
    <div class="alert alert-danger" id="price-blank-alert"  aria-live="rude" role="alert" hidden>

      <label for="vno">{% trans %}Please enter the price per unit!{% endtrans %}</label>
    </div>
    <div class="alert alert-success" id="cash-success-alert"  aria-live="rude" role="alert" hidden>

      {% trans %}Cash Memo Cancelled.{% endtrans %}
    </div>
    <div class="panel invoice_panel shadow">
      <div class="panel-body">
        <div class="container-fluid row">

          <div class="alert alert-danger" id="date-blank-alert"  aria-live="rude" role="alert" hidden>

            <label for="vno">{% trans %}Please enter date!{% endtrans %}</label>
          </div>
          <div class="alert alert-danger" id="challanno-blank-alert"  aria-live="rude" role="alert" hidden>

            <label for="vno">{% trans %}Please enter cash memo no.!{% endtrans %}</label>
          </div>
          <div class="alert alert-danger" id="issuer-blank-alert"  aria-live="rude" role="alert" hidden>

            <label for="vno">{% trans %}Please enter issuer's name!{% endtrans %}</label>
          </div>
          <div class="alert alert-danger" id="date-alert"  aria-live="rude" role="alert" hidden>

            <label for="vno">{% trans %}Please enter date in proper format!{% endtrans %}</label>
          </div>
          <div class="form-group col-md-12">
            <label for="invoice_deliverynote">
              {% trans %}Cash Memo{% endtrans %} :
            </label>
            <select class="form-control input-sm" id="invoice_all_no" accesskey="">
              <option value="" disabled hidden selected>{% trans %}Select Cash Memo{% endtrans %}</option>
              {% for invoice in gkresult %}
              <option value="{{invoice['invid']}}">{{invoice["invoiceno"]}} {{invoice["invoicedate"]}}</option>
              {% endfor %}
            </select>
            <div class="alert alert-danger nopadding" id="cancelmsg" aria-live="rude" role="alert" hidden>
              <strong id="alertstrong">Cash Memo cancelled on  </strong>
          </div>
          </div>
          <div class="col-md-4 hidden-load" hidden>

            <div class="form-group">
              <label for="invoice_challanno">{% trans %}Cash Memo No{% endtrans %} :</label>
              <input class="form-control input-sm disable" id="invoice_challanno" placeholder="{% trans %}Enter invoice no{% endtrans %}" accesskey="a">
            </div>
          </div>
          <div class="col-md-4 hidden-load" hidden>

            <div class="form-group">
              <label for="invoice_date">{% trans %}Date{% endtrans %} :</label>
              <div class="form-inline ">
                <div class="form-group">
                  <input type="text" class="form-control input-sm invoicedate disable" size="2" maxlength="2" placeholder="DD" id="invoice_date" accesskey="v">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control input-sm invoicedate disable" size="2" maxlength="2" placeholder="MM" id="invoice_month" accesskey="v">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control input-sm invoicedate disable" size="4" maxlength="4" placeholder="YYYY" id="invoice_year" accesskey="v">
                </div>
              </div>
            </div>

          </div>



          <div class="col-md-4 hidden-load" hidden >

            <div class="form-group">
              <label for="invoice_state">{% trans %}VAT Applicable to{% endtrans %} :</label>
              <select class="form-control input-sm tax_state product_new_state disable" id="invoice_state">
                <option value="none">None</option>
                <option value="">Central</option>
                <option value="Andaman and Nicobar Islands" stateid="1">Andaman and Nicobar Islands</option>
                <option value="Andhra Pradesh" stateid="2">Andhra Pradesh</option>
                <option value="Arunachal Pradesh" stateid="3">Arunachal Pradesh</option>
                <option value="Assam" stateid="4">Assam</option>
                <option value="Bihar" stateid="5">Bihar</option>
                <option value="Chandigarh" stateid="6">Chandigarh</option>
                <option value="Chhattisgarh" stateid="7">Chhattisgarh</option>
                <option value="Dadra and Nagar Haveli" stateid="8">Dadra and Nagar Haveli</option>
                <option value="Daman and Diu" stateid="9">Daman and Diu</option>
                <option value="Delhi" stateid="10">Delhi</option>
                <option value="Goa" stateid="11">Goa</option>
                <option value="Gujarat" stateid="12">Gujarat</option>
                <option value="Haryana" stateid="13">Haryana</option>
                <option value="Himachal Pradesh" stateid="14">Himachal Pradesh</option>
                <option value="Jammu and Kashmir" stateid="15">Jammu and Kashmir</option>
                <option value="Jharkhand" stateid="16">Jharkhand</option>
                <option value="Karnataka" stateid="17">Karnataka</option>
                <option value="Kerala" stateid="19">Kerala</option>
                <option value="Lakshadweep" stateid="20">Lakshadweep</option>
                <option value="Madhya Pradesh" stateid="21">Madhya Pradesh</option>
                <option value="Maharashtra" stateid="22">Maharashtra</option>
                <option value="Manipur" stateid="23">Manipur</option>
                <option value="Meghalaya" stateid="24">Meghalaya</option>
                <option value="Mizoram" stateid="25">Mizoram</option>
                <option value="Nagaland" stateid="26">Nagaland</option>
                <option value="Odisha" stateid="29">Odisha</option>
                <option value="Pondicherry" stateid="31">Pondicherry</option>
                <option value="Punjab" stateid="32">Punjab</option>
                <option value="Rajasthan" stateid="33">Rajasthan</option>
                <option value="Sikkim" stateid="34">Sikkim</option>
                <option value="Tamil Nadu" stateid="35">Tamil Nadu</option>
                <option value="Telangana" stateid="36">Telangana</option>
                <option value="Tripura" stateid="37">Tripura</option>
                <option value="Uttar Pradesh" stateid="38">Uttar Pradesh</option>
                <option value="Uttarakhand" stateid="39">Uttarakhand</option>
                <option value="West Bengal" stateid="41">West Bengal</option>
              </select>
            </div>

          </div>



          {% if gkstatus=="out" %}

          <input type="hidden" id="status" value="15">
          {% endif %}
        </div>


        <div class="container-fluid hidden-load" hidden  id="invoice_product_div">
          <div class="panel">

            <table id="edit_invoice_product_table" class="shadow table table-condensed table-bordered fixed-table fixed-tablepurchase disable">
              <thead class="bg-primary">
                <tr>
                  <th class="col-xs-3 text-center">{% trans %}Product{% endtrans %}</th>
                  <th class="col-xs-2 text-center">{% trans %}Quantity{% endtrans %}</th>
                  <th class="col-xs-2 text-center">{% trans %}Free Quantity{% endtrans %}</th>
                  <th class="col-xs-2 text-center">{% trans %}Price Per Unit{% endtrans %}</th>
                  <th class="col-xs-1 text-center">{% trans %}Tax Rate{% endtrans %}</th>
                  <th class="col-xs-1 text-center">{% trans %}Tax Amount{% endtrans %}</th>
                  <th class="col-xs-2 text-center">{% trans %}Total{% endtrans %}</th>
                  <th class="col-xs-1" style="width: 5%"></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="col-xs-3 disable">
                    <select class="form-control input-sm product_name">
                      <option value="" disabled hidden selected>Select Product</option>
                      {% for product in products %}
                      <option value="{{product['productcode']}}">{{product["productdesc"]}}</option>
                      {% endfor %}
                    </select>
                  </td>
                  <td class="col-xs-2">
                    <input type="text" class="invoice_product_quantity form-control input-sm text-right" value="0" placeholder="0">
                  </td>
                  <td class="col-xs-2">
                    <input type="text" class="invoice_product_freequantity form-control input-sm text-right" value="0" placeholder="0">
                  </td>
                  <td class="col-xs-2">
                    <input type="text" class="invoice_product_per_price form-control input-sm text-right numtype" value="0.00" placeholder="0.00">
                  </td>
                  <td class="col-xs-1">
                    <input type="text" class="invoice_product_tax_rate form-control input-sm text-right numtype" value="0.00" placeholder="0.00" disabled>
                  </td>
                  <td class="col-xs-1">
                    <input type="text" class="invoice_product_tax_amount form-control input-sm text-right numtype" value="0.00" placeholder="0.00" disabled>
                  </td>
                  <td class="col-xs-2">
                    <input type="text" class="invoice_product_total form-control input-sm text-right numtype" value="0.00" placeholder="0.00" disabled>
                  </td>
                  <td class="col-xs-1" style="width: 5%">

                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td class="col-xs-9 text-right">
                    <input type="text" class=" form-control input-sm text-right" value="{% trans %}Total{% endtrans %}" placeholder="" disabled>
                  </td>
                  <td class="col-xs-2" style="display:none">
                    <input type="text" class=" form-control input-sm text-right" value="0" placeholder="" disabled>
                  </td>
                  <td class="col-xs-2" style="display:none">
                    <input type="text" class=" form-control input-sm text-right" value="0.00" placeholder="" disabled>
                  </td>
                  <td class="col-xs-1" style="display:none">
                    <input type="text" class=" form-control input-sm text-right" value="0.00" placeholder="" disabled>
                  </td>
                  <td class="col-xs-1" style="display:none">
                    <input type="text" class=" form-control input-sm text-right" value="0.00" placeholder="" disabled>
                  </td>
                  <td class="col-xs-2">
                    <input type="text" class=" form-control deliverychallan_edit_disable input-sm text-right" value="0.00" disabled>
                  </td>
                  <td class="col-xs-1" style="width: 3.5">

                  </td>
                </tr>
              </tfoot>

            </table>
          </div>
        </div>
        <div class="panel-footer" id="footer_id" hidden>
          <div class="container-fluid">

            <button class="btn btn-danger btn-sm hidden-load" id="invcl" data-toggle="tooltip" data-placement="top" >{% trans %}<i class="fa fa-times" aria-hidden="true"></i> Cancel{% endtrans %}</button>
            <button id="invoice_editprint" class="btn btn-primary btn-sm" >{% trans %}<i class="fa fa-print" aria-hidden="true"></i> Print{% endtrans %}</button>
          </div>
        </div>
        <div id="confirm_del" class="modal fade" tabindex="-1" role="dialog">
          <div class="vertical-alignment-helper">
            <div class="modal-dialog modal-sm vertical-align-center">
              <div class="modal-content">
                <div class="modal-header">

                  <h4 class="modal-title">{% trans %}Cancel?{% endtrans %}</h4>
                </div>
                <div class="modal-body">
                  <p>{% trans %}Are you sure?{% endtrans %}</p>
                </div>
                <div class="modal-footer">
                  <button type="button" id ="m_cancel" class="btn btn-warning" data-dismiss="modal">{% trans %}No{% endtrans %}</button>
                  <button type="button" id="accdel" data-dismiss="modal" class="btn btn-danger">{% trans %}Yes{% endtrans %}</button>
                </div>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div>
        </div><!-- /.mod-->





  </div>

  <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/viewcashmemo.js')}}"></script>
</body>
</html>
